  body {
    background-color: #FCF6B1;
  }
  .name{
    text-align: center;
    padding: 35px;
  }
  .descreve{
    float: right;
    margin: 35px;
    padding: 35px;
    width: 50%;
     }
  .list-style {
    font-weight: 500;
    font-size: 29px;
    color: blue;
  }
    .list-style3 {
    font-size: 48px;
    font-weight: bold;
    color: brown;
  }
 
  .list-style5 {
    font-size: 52px;
    font-weight: bold;
    color: red;
  }
  .picture{
    width: 250px;
    float: left;
    border-radius: 20%;
    margin: 35px;
    padding: 35px;
    background: gray;
    }
  .hability{
    margin: 35px;
    padding: 35px;
    clear: both;
  }
  .container  {
    display: inline-block;
  }