body {
    background-color: #FCF6B1;
  }
  .name{
    text-align: center;
  }
  .list-style {
    font-weight: 500;
    font-size: 29px;
    color: blue;
  }
  .list-style2 {
    font-size: 18px;
    font-weight: bold;
  }
  .list-style3 {
    font-size: 48px;
    font-weight: bold;
    color: brown;
  }
  .list-style4 {
    font-size: 33px;
    font-weight: italic;
  }
  .list-style5 {
    font-size: 52px;
    font-weight: bold;
    color: red;
  }
  .picture{
    border-radius: 20%;
    margin: 10px;
     }
  .descreve{
    float: right;
  }
  .hability{
    margin-top: 200px;
  }
  .foto{
    float: left;
  }
 